---
Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays
WarningsAsErrors: ''
HeaderFilterRegex: '(libs/drogon-pay|examples/pay-server|tests)/.*'
FormatStyle: none
